* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}

#main {}


/* Header section */
#header {
    width: 100%;
    height: 103px;
    background-color: #fff;
    /* position: fixed;
    z-index: 1; */
    box-shadow: 1px 1px #888888;
}

#header .header-icon {
    width: 100%;
    display: inline-block;
    text-align: center;
    border-bottom: 1px solid #ccc;

}
.header-icon:hover {
    cursor: pointer;
}
.logo {
    /* height: 70px; */
    width: 100px;
}
.nav {
    margin-left: 10%;
    /* display: inline-block; */
    float: left;
}
.header-name {
    color: black;
    text-decoration: none;
    margin-left: 50px;
    line-height: 25px;
    font: 16px;
    font-weight: 700;
}
.nav-right {
    float: left;
    margin-left: 200px;
}
.tim-kiem {
    text-decoration: none;
    /* margin-left: 200px; */

    font: 16px;
    float: left;
}

.search {
    float: left ;
    /* margin: 1px 13% 0 0 ; */
    /* line-height: 25px; */
}


/* Banner */
.banner {
    width: 1455px;
}
.banner img {
    width: 100%;
    margin-top: 1px;
    margin-bottom: 100px;
}

/* content */
#content {
    width: 100%;
    height: 2800px;
    /* background-color: brown;  */
    margin-top: 60px;
}


/* */
#container {
    width: 1150px;
    height: 600px;
    /* background-color: burlywood; */
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}


.container {
    padding-top: 50px;
    margin-bottom: 50px;
}
.container h2 {
    font-size: 30px;
    font-weight: 100;
    letter-spacing: 3px;
    padding-top: 50px;
    height: 84.4px;
    text-align: center;
    margin-bottom: 10px;
}

.container-left {
    width: 555px;
    
    float: left;
    /* margin-bottom: 70px; */
}
.container-left img {
    width: 100%;
    margin-bottom: 10px;
}
.container-right {
    width: 450px;
    height: 370px;
    /* background-color: cadetblue; */
    float: right;
    margin-left: 40px;
    /* margin-bottom: 50px; */
}
 .container-right1 {
    /* height: 410px;
    float: left; */
} 
.container-right p {
    display: block;
    text-align: justify;
    font-size: 15px;
    margin-bottom: 50px;
}
.container-right a {
    padding: 15px 30px 15px 30px;
    background-color: #313639;
    text-decoration: none;
    color: #fff;
    font-size: 15px;
}
.container-right a:hover {
    color: #fff;
    background-color: #d5001c;
}




/* Footer*/
#footer-section {
    width: 1292px;
    padding-top: 20px;
    border-top: solid #ccc;
    margin: 0 auto 20px;
}
.thong-tin {
    display: inline-block;
 }
.ttll {
    padding: 10px 0;
    font-size: 14px;
    opacity: 0.6;
}
.thong-tin h4 {
    padding:0 0 10px 2px;
    font-size: 14px;
}
.lien-lac {
    padding-bottom: 10px;
    font-size: 14px;
    opacity: 0.6;
}
.dia-chi {
    margin-left: 20%;
    padding-top: 10px;
    display: inline-block;
}
.dia-chi h4 {
    padding-bottom: 10px;
    font-size: 14px;
}
.dia-chi-porsche {
    padding-bottom: 10px;
    font-size: 14px;
    opacity: 0.6;
}


.lien-he {
    padding: 10px 30px 20px 0;
    float: right;
}
.lien-he h4 {
    font-size: 14px;
    padding-bottom: 10px;
}
.lien-he a {
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}
.ti-facebook {
    color: #fff;
    background-color: #385898 ;
    border-radius: 5px;
    padding: 2px;
}
.ti-twitter-alt {
    color:rgb(29, 161, 242);
}
.ti-linkedin {
    color: #fff;
    background-color: #0a66c2 ;
    border-radius: 5px;
    padding: 2px;
}
.ti-youtube {
    color:#000;
}
.lien-he p {
    float: left;
    margin-right: 10px;
    font-size: 14px;
    opacity: 0.8;
}



.background {
    width: 100%;
    height: 120px;
    background-color: #191f22 ;
}
.background p {
    color: #fff;
    padding: 2.5% 0 0 5.5%;

}


