* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}

#main {}


/* Header section */
#header {
    width: 100%;
    height: 103px;
    background-color: #fff;
    /* position: fixed;
    z-index: 1; */
    box-shadow: 1px 1px #888888;
}

#header .header-icon {
    width: 100%;
    display: inline-block;
    text-align: center;
    border-bottom: 1px solid #ccc;

}
.header-icon:hover {
    cursor: pointer;
}
.logo {
    width: 100px;
}
.nav {
    margin-left: 10%;
    /* display: inline-block; */
    float: left;
    
}
.header-name {
    color: black;
    text-decoration: none;
    margin-left: 50px;
    /* line-height: 25px; */
    font: 16px;
    font-weight: 700;
    line-height: 50px;
}
.nav-right {
    float: left;
    margin-left: 200px;
}
.tim-kiem {
    text-decoration: none;
    /* margin-left: 200px; */
    
    font: 16px;
    float: left; 
}

.search {
    float: left ;
    /* margin: 1px 13% 0 0 ; */
    /* line-height: 25px; */
}

/* Slider */
#slider {
    /* position: relative; */
}
#slider .img-porsche {
    /* padding-top: 103px; */
    width: 100%;

}
#slider .van-ban {
    margin-left: 56%;
    top: 150px;
    position: absolute;

}
#slider .text {
    font-size: 50px;
    font-weight: 400;
    letter-spacing: 5px;


}
.van-ban p {
    margin-left: 15px;
    font-size: 25px;
    letter-spacing: 4px;

}
.ti-icon {
    position: absolute;
    top:170px;
    margin-left: 53%;
}
.a {
    font-size: 30px;
    color: red;
}

/* Các dòng xe*/
#cac-dong-xe {
    width: 100%;
    height: 1260px;
}
#cac-dong-xe h2 {
    text-align: center;
    margin: 70px 0;
    font-size: 30px;
    letter-spacing: 4px;
}

/*  */
.car {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.car-porsche {
    float:left;
    width: 300px;
    margin-bottom: 90px;
    text-align: center;
    /* margin-left: 20px; */
}
.car-porsche .img-xe {
    margin-bottom: 10px;
   
    
}

i {
    font-size: 15px;
}
i:hover {
    color: red;
    cursor: pointer;
}
.car-porsche a {
    text-decoration: none;

}
.ten-xe {
    display: inline;
    font-size: 16px;
    color: red;
    font-weight: 600;
}
.p-gia-xe {
    margin-top: 5px;
    font-size: 15px;
}



/* Footer*/
#footer-section {
    width: 1292px;
    padding-top: 20px;
    border-top: solid #ccc;
    margin: 0 auto 20px;
}
.thong-tin {
    display: inline-block;
 }
.ttll {
    padding: 10px 0;
    font-size: 14px;
    opacity: 0.6;
}
.thong-tin h4 {
    padding:0 0 10px 2px;
    font-size: 14px;
}
.lien-lac {
    padding-bottom: 10px;
    font-size: 14px;
    opacity: 0.6;
}
.dia-chi {
    margin-left: 20%;
    padding-top: 10px;
    display: inline-block;
}
.dia-chi h4 {
    padding-bottom: 10px;
    font-size: 14px;
}
.dia-chi-porsche {
    padding-bottom: 10px;
    font-size: 14px;
    opacity: 0.6;
}


.lien-he {
    padding: 10px 30px 20px 0;
    float: right;
}
.lien-he h4 {
    font-size: 14px;
    padding-bottom: 10px;
}
.lien-he a {
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}
.ti-facebook {
    color: #fff;
    background-color: #385898 ;
    border-radius: 5px;
    padding: 2px;
}
.ti-twitter-alt {
    color:rgb(29, 161, 242);
}
.ti-linkedin {
    color: #fff;
    background-color: #0a66c2 ;
    border-radius: 5px;
    padding: 2px;
}
.ti-youtube {
    color:#000;
}
.lien-he p {
    float: left;
    margin-right: 10px;
    font-size: 14px;
    opacity: 0.8;
}



.background {
    width: 100%;
    height: 120px;
    background-color: #191f22 ;
}
.background p {
    color: #fff;
    padding: 2.5% 0 0 5.5%;

}








