* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}

#main {}


/* Header section */
#header {
    width: 100%;
    height: 103px;
    background-color: #fff;
    /* position: fixed;
    z-index: 1; */
    box-shadow: 1px 1px #888888;
}

#header .header-icon {
    width: 100%;
    display: inline-block;
    text-align: center;
    border-bottom: 1px solid #ccc;

}
.header-icon:hover {
    cursor: pointer;
}
.logo {
    width: 100px;
}
.nav {
    margin-left: 10%;
    /* display: inline-block; */
    float: left;
}
.header-name {
    color: black;
    text-decoration: none;
    margin-left: 50px;
    line-height: 25px;
    font: 16px;
    font-weight: 700;
}
.nav-right {
    float: left;
    margin-left: 200px;
}
.tim-kiem {
    text-decoration: none;
    /* margin-left: 200px; */
    
    font: 16px;
    float: left; 
}

.search {
    float: left ;
    /* margin: 1px 13% 0 0 ; */
    /* line-height: 25px; */
}


/* Content */
#content {
    width: 100%;
    height: 1450px;
     /* background-color: brown;   */
    
}
#content h2 {
    text-align: center;
    padding:  70px 0;
    font-size: 30px;
    letter-spacing: 5px;
}

.all-car {
    width: 1100px;
     /* background-color: burlywood;  */
    height: 1270px;
    margin-left: auto;
    margin-right: auto;
}

/* */
.ten-loai-xe {

}
.ten-loai-xe .a {
    margin-top: 50px;
}
.ten-loai-xe p:hover {
    color: red;
    cursor: pointer;
}        
.ten-loai-xe p {
    display: block;
    float: left;
    margin-left: 10px;
    font-size: 20px;
    letter-spacing: 2px;
    margin-right: 60%;
    font-weight: 600;
}
/* Loai-xe */
.loai-xe {
    float: left;
    margin-right: 50px;
}
.loai-xe img {
    width: 300px;
    
}
.loai-xe p {
    margin-left: 20px;
    font-size: 15px;
    padding: 2px 0;
}
.loai-xe .gia {
    margin-bottom: 10px;
}
.loai-xe a {
    text-decoration: none;
    color: #000;
    margin-left: 20px;
    border: #ccc 1px solid;
    font-size: 15px;
    padding: 7px 150px 7px 30px;
}
.loai-xe a:hover {
    color: red;
    border: solid 1px red;
}


/* Footer*/
#footer-section {
    width: 1292px;
    padding-top: 20px;
    border-top: solid #ccc;
    margin: 0 auto 20px;
}
.thong-tin {
    display: inline-block;
 }
.ttll {
    padding: 10px 0;
    font-size: 14px;
    opacity: 0.6;
}
.thong-tin h4 {
    padding:0 0 10px 2px;
    font-size: 14px;
}
.lien-lac {
    padding-bottom: 10px;
    font-size: 14px;
    opacity: 0.6;
}
.dia-chi {
    margin-left: 20%;
    padding-top: 10px;
    display: inline-block;
}
.dia-chi h4 {
    padding-bottom: 10px;
    font-size: 14px;
}
.dia-chi-porsche {
    padding-bottom: 10px;
    font-size: 14px;
    opacity: 0.6;
}


.lien-he {
    padding: 10px 30px 20px 0;
    float: right;
}
.lien-he h4 {
    font-size: 14px;
    padding-bottom: 10px;
}
.lien-he a {
    text-align: center;
    text-decoration: none;
    font-size: 14px;
}
.ti-facebook {
    color: #fff;
    background-color: #385898 ;
    border-radius: 5px;
    padding: 2px;
}
.ti-twitter-alt {
    color:rgb(29, 161, 242);
}
.ti-linkedin {
    color: #fff;
    background-color: #0a66c2 ;
    border-radius: 5px;
    padding: 2px;
}
.ti-youtube {
    color:#000;
}
.lien-he p {
    float: left;
    margin-right: 10px;
    font-size: 14px;
    opacity: 0.8;
}



.background {
    width: 100%;
    height: 120px;
    background-color: #191f22 ;
}
.background p {
    color: #fff;
    padding: 2.5% 0 0 5.5%;

}
