body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    width: 100%;
    height: 720px;
    
}
.content img {
    width: 100%;
    opacity: 0.9;
    position: relative  ;
}
/* */
.content-login {
    width: 800px;
    height: 500px;
    position: absolute;
    top: 0;
    margin-left: 350px;
    margin-top: 100px;   
    /* background-color: lawngreen; */
}
.content-login h2 {
    color: #fff;
    font-weight: 100;
    letter-spacing: 10px;
    margin-left: 25px;
}
.content-bottoom {
    
}
.content-bottoom p {
    margin-left: 40%;
    margin-top: 50px;
    color: #fff;
    letter-spacing: 5px;    
}
.content-bottoom input {
    padding-right: 70px;
    line-height: 25px;
    margin: 30px 30px 0px 285px;
    border-radius: 8px;
    opacity: 0.9;
}
.content-bottoom a {
    margin-left: 440px;
    
}
.content-bottoom a button {
    padding: 5px 20px;
    border-radius: 10px;
    opacity: 0.9;
}
.content-bottoom .mat-khau {
    margin-bottom: 30px;
}